<%- include ../../views/header.ejs %>
<div class="page-container">

<div class="row">
	<div class="col-md-11">
		<div style="border:1px solid #AC2925;height:230px;padding:12px">
			
			<div class="col-md-11">
				<div class="form-group pull-left">
					<h2>Selamat datang <b><%= sess_user %> </b> di aplikasi XNOTE. Mencatat segala jadwal aktifitas dan event event anda sehari hari.</h2>
            		<h2>XNOTE V.1.0 Beta</h2>
				</div>
			</div>
		</div>
	</div>
	</div><!-- /.row -->
	
</div>
<%- include ../../views/footer.ejs %>