<% layout('../layout') -%>

<h1>Edit User <%= data[0].name %></h1>

<div class="page-data">
            
    <form method="post" action="/users/edit/<%=data[0].user_id%>">
        <table cellpadding="11">
        <tr>
            <td class="label">Name</td><td>: <input type="text" name="name" value="<%=data[0].name%>" required></td>
         </tr>
        <tr>
            <td class="label">Email</td><td>: <input type="text" value="<%=data[0].email%>" name="email" required></td>
         </tr>
        </table>
        <input type="submit" name="submit" value="Save">
    </form>
    
</div>