<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= (locals.title) ? title : 'Selamat Datang Di XNOTE v.1.0 Beta' %></title>
<meta name="description" content="Aplikasi Pencatat Jadwal Kegiatan Dan Events Events Penting">
<meta name="keyword" content="xnote,aplikasi catat, jadwal, event">
<meta name="author" content="Agus Cahyono (Codename As Balitax)">
<!-- Core CSS - Include with every page -->
<link href="../admin/css/bootstrap.css" rel="stylesheet">
<link href="../admin/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="../admin/css/back.css" rel="stylesheet">
<link href="../admin/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<script src="../admin/js/jquery-1.10.2.min.js"></script>
</head>
<body>
<div id="wrapper">
    
    <%- include sidebar %>
    
    <div id="page-wrapper">