<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>XNote Apps - Note Your Schedule and Events</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="XNOTE Apps">
<meta name="author" content="Agus Cahyono">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="../depan/script.js"></script>
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../depan/style.css" type="text/css">
</head>
<body>
	<div class="logo">
		<h2 style="color:#fff;font-family: arial;">XNOTE V.1.0</h2>
	</div>
	<div class="content">
		<div class="col3">
			<div class="imgHover">
				<a href="/login"><img src="../depan/img/dashboard.png" alt=""></a>
			</div>
			
			<div class="button center1">
				
				<a href="/login" class="button">Masuk Dashboard </a>
			</div>
		</div>
		<div class="col3">
			<div class="imgHover">
				<a href="javascript:void(0)"><img src="../depan/img/kontak.png" alt=""></a>
			</div>
			<div class="button center2">
				
				<a href="javascript:void(0)" onclick="alert('Kirim Saja Email Ke cahyo.mamen@hotmail.com')" class="button">Kirim Pesan </a>
			</div>
		</div>
	</div>
</body>
</html>