<div class="footer">
    <div class="container">
        <p class="text-center text-muted">© Copyright Ayrokid - 2015</p>
    </div>
</div>

<script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>